<div class="text-white home container">
  <div class="header d-inline-flex flex-row w-100">
    <div class="left d-flex flex-column">
      <h1>Invoices</h1>
      <span>There are 4 total invoices</span>
    </div>
    <div class="right d-flex">
      <!-- Filter -->
      <div class="filter d-flex">
        <span>Filter by status:<span></span></span>
        <img src="../../assets/icon-arrow-down.svg" alt="" />
        <!-- <ul class="filter-menu">
          <li>Draft</li>
          <li>Pending</li>
          <li>Paid</li>
          <li>Clear Filter</li>
        </ul> -->
      </div>
      <div (click)="openInvoice()" class="button d-inline-flex text-nowrap ">
        <div class="inner-button">
          <img src="../../assets/icon-plus.svg" alt="">
        </div>
        <span>New Invoice</span>
      </div>
    </div>
  </div>
  <!-- <div class="empty d-flex flex-column">
    <img src="../../assets/illustration-empty.svg" alt="">
    <h3>There is nothing here</h3>
    <p>Create a nes invoice by clicking the New Invoice button and get started!</p>
  </div> -->
</div>
